*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    display: flex;
}

.navbar div{
   align-content: center;
}

.navbar .left div{
    margin-top: 1.25rem;
    margin-left: 3.75rem;
}

.navbar .right{
    display: flex;
    margin-left: auto;
    align-items: center;
    margin-right: 5.625rem;
}

.navbar .right button{
    background: none;
    border: none;
    font-size: 1.0625rem;
    transition: 1s;
}

.navbar .right button:hover{
    transform: scale(1.1);
    
}

.navbar .right a:hover{
    color: rgba(232, 80, 91, 1);
}

.navbar .right div{
    margin: 3.125rem 0px;
    padding: 0px 1.25rem;
}


.navbar .right a{
    text-decoration: none;
    color: rgb(128, 128, 128);
}

.container{
    display: flex;
    align-items: center;
}

.container .photo{
    margin-left: auto;
    margin-right: 3.75rem;
    
}

.container .photo img{
    height: 34.375rem;
}

.container .text{
    margin-left: 3.125rem;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: flex-start;
    padding-bottom: 5.625rem;
}

.container .text .shopping{
    font-size: 3.4375rem;
}

.container .text .cabe{
    padding-bottom: 1.5625rem;;
}

.container .text .texto{
    display: flex;
    color: gray;
}

.container .text .Td{
    width: 70%;
    margin-bottom: 1.5625rem;
}

.container .text button{
    font-size: 1.25rem;
    padding: 16px 1.875rem;
    background-color: rgba(232, 80, 91, 1);
    border: none;
    border-radius: .625rem;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.container .text button:hover{
    transform: scale(1.05);
    background-color: rgb(167, 53, 61);
}