.container{
    display: flex;
    background: rgba(56, 56, 235, 0.466);
    border-radius: 16px;
    justify-content: center;
    width: 20rem;
    margin: .625rem auto;
    height: 18.75rem; 
    align-items: center;
}
.container div{
    background-color: rgba(137, 43, 226, 0.37);
    align-content: center;
    margin: 0px .3125rem;
    height: 30%;
    border-radius: 1rem;
    text-align: center;
}
.i1, .i3{
    flex-grow: 2;
}
.i2{
    flex-grow: 3;
}